* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .bookmarks {
  position: fixed;
  left: 0;
  width: 7rem;
  top: 100px;
  z-index: 10;
}

.wrapper .bookmarks .bookmark {
  border-radius: 0 1.3rem 1.3rem 0;
  width: 3rem;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
  color: black;
  -webkit-transform: translateX(-3.5rem);
          transform: translateX(-3.5rem);
  height: 2rem;
  text-align: center;
  font-size: 1.2rem;
  line-height: 2rem;
  overflow: hidden;
  margin-bottom: .75rem;
}

.wrapper .bookmarks .bookmark p {
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.wrapper .bookmarks .bookmark.visible {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.wrapper .bookmarks .bookmark.visible:hover {
  display: block;
  width: 7rem;
}

.wrapper .bookmarks .bookmark.visible:hover p {
  opacity: 1;
}

.wrapper .bookmarks .bookmark.header {
  background-color: #659DBD;
  height: 2rem;
  background-color: #659DBD;
  text-align: center;
  font-size: 1.2rem;
  line-height: 2rem;
}

.wrapper .bookmarks .bookmark.about__me {
  background-color: #FBEEC1;
}

.wrapper .bookmarks .bookmark.references {
  background-color: #DADD86;
}

.wrapper .bookmarks .bookmark.contacts {
  background-color: #BC986A;
}

.wrapper header {
  width: 100%;
  height: 100vh;
  min-height: 970px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #659DBD;
  color: #fff;
}

.wrapper header .header-content {
  min-width: 900px;
  font-size: 2rem;
  margin: 1.25rem 0;
  overflow: hidden;
}

.wrapper header .header-content .fix {
  width: 18rem;
  padding-right: 1rem;
  float: left;
}

.wrapper header .header-content .description {
  -webkit-transition: all .5s;
  transition: all .5s;
  position: relative;
  top: 0;
  text-align: center;
  float: left;
}

.wrapper article {
  width: 100%;
  height: 100vh;
  min-height: 970px;
}

.wrapper article.about__me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FBEEC1;
}

.wrapper article.about__me section {
  -ms-flex-preferred-size: 28vw;
      flex-basis: 28vw;
  border: 1px solid rgba(112, 112, 112, 0.603);
  margin: 0 1rem;
  min-height: 70vh;
  -webkit-perspective: 3000px;
          perspective: 3000px;
  -webkit-transition: all .4s;
  transition: all .4s;
  -webkit-box-shadow: 10px 10px 30px rgba(112, 112, 112, 0.603);
          box-shadow: 10px 10px 30px rgba(112, 112, 112, 0.603);
}

.wrapper article.about__me section:hover > .front {
  -webkit-transform: perspective(3000px) rotateY(180deg);
          transform: perspective(3000px) rotateY(180deg);
}

.wrapper article.about__me section:hover > .back {
  -webkit-transform: perspective(3000px) rotateY(360deg);
          transform: perspective(3000px) rotateY(360deg);
}

.wrapper article.about__me section .front, .wrapper article.about__me section .back {
  width: 100%;
  height: 100%;
  overflow-Y: scroll;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  -webkit-transition: all .6s;
  transition: all .6s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: justify;
  scrollbar-width: none;
}

.wrapper article.about__me section .front {
  -webkit-transform: perspective(3000px) rotateY(0deg);
          transform: perspective(3000px) rotateY(0deg);
  cursor: pointer;
}

.wrapper article.about__me section .front img {
  position: absolute;
  z-index: 0;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: .3;
  width: 100%;
  height: 100%;
}

.wrapper article.about__me section .front h2 {
  position: relative;
  font-size: 3rem;
  margin: auto;
  z-index: 2;
}

.wrapper article.about__me section .back {
  -webkit-transform: perspective(3000px) rotateY(180deg);
          transform: perspective(3000px) rotateY(180deg);
  padding: 1.5rem;
  font-size: 1.2rem;
}

.wrapper article.about__me section .back .back-content {
  margin: auto;
}

.wrapper article.about__me section .back p, .wrapper article.about__me section .back ul {
  margin-bottom: 20px;
}

.wrapper article.about__me section .back a {
  color: #659DBD;
}

.wrapper article.about__me section .back ul {
  list-style-type: "-";
  padding-left: 30px;
}

.wrapper article.about__me section .back ul li {
  padding-left: 10px;
  margin-bottom: 5px;
}

.wrapper article.about__me section .front::-webkit-scrollbar,
.wrapper article.about__me section .back::-webkit-scrollbar {
  width: 0;
}

.wrapper article.references {
  background-color: #DADD86;
}

.wrapper article.references section {
  padding-top: .5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: .5rem;
  grid-auto-flow: dense;
}

.wrapper article.references section .reference {
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.wrapper article.references section .reference:hover img {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.wrapper article.references section .reference:hover .title {
  opacity: .2;
}

.wrapper article.references section .reference:hover .description {
  opacity: 1;
}

.wrapper article.references section .reference:nth-child(2), .wrapper article.references section .reference:nth-child(4), .wrapper article.references section .reference:nth-child(5) {
  grid-column: span 2;
}

.wrapper article.references section .reference img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-transition: all 4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-object-position: 0 0;
     object-position: 0 0;
}

.wrapper article.references section .reference .title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1;
  color: white;
  z-index: 2;
  font-size: 2rem;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.wrapper article.references section .reference a {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.wrapper article.references section .reference .description {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  font-size: 1.2rem;
  z-index: 2;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2.5rem;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.wrapper article.references section .reference .description p {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: .25rem;
}

.wrapper article.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #BC986A;
}

.wrapper article.contacts .contact,
.wrapper article.contacts .media {
  width: 40%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper article.contacts .contact .media--icons--wrapper,
.wrapper article.contacts .media .media--icons--wrapper {
  width: 100%;
}

.wrapper article.contacts .contact .media--icons--wrapper .media-icon,
.wrapper article.contacts .media .media--icons--wrapper .media-icon {
  font-size: 5rem;
  margin-bottom: 30px;
  cursor: pointer;
  color: black;
}

.wrapper article.contacts .contact .media--icons--wrapper .media-icon:hover .icon,
.wrapper article.contacts .media .media--icons--wrapper .media-icon:hover .icon {
  -webkit-transform: scale(1.3) rotate(360deg);
          transform: scale(1.3) rotate(360deg);
}

.wrapper article.contacts .contact .media--icons--wrapper .media-icon:hover .icon.facebook,
.wrapper article.contacts .media .media--icons--wrapper .media-icon:hover .icon.facebook {
  color: aqua;
}

.wrapper article.contacts .contact .media--icons--wrapper .media-icon:hover .icon.linkedin,
.wrapper article.contacts .media .media--icons--wrapper .media-icon:hover .icon.linkedin {
  color: cornflowerblue;
}

.wrapper article.contacts .contact .media--icons--wrapper .media-icon:hover .icon.github,
.wrapper article.contacts .media .media--icons--wrapper .media-icon:hover .icon.github {
  color: white;
}

.wrapper article.contacts .contact .media--icons--wrapper .media-icon:hover .icon.codepen,
.wrapper article.contacts .media .media--icons--wrapper .media-icon:hover .icon.codepen {
  color: cornsilk;
}

.wrapper article.contacts .contact .media--icons--wrapper .media-icon:hover .title,
.wrapper article.contacts .media .media--icons--wrapper .media-icon:hover .title {
  width: 80%;
  left: 30px;
}

.wrapper article.contacts .contact .media--icons--wrapper .media-icon:hover .title.facebook,
.wrapper article.contacts .media .media--icons--wrapper .media-icon:hover .title.facebook {
  color: aqua;
}

.wrapper article.contacts .contact .media--icons--wrapper .media-icon:hover .title.linkedin,
.wrapper article.contacts .media .media--icons--wrapper .media-icon:hover .title.linkedin {
  color: cornflowerblue;
}

.wrapper article.contacts .contact .media--icons--wrapper .media-icon:hover .title.github,
.wrapper article.contacts .media .media--icons--wrapper .media-icon:hover .title.github {
  color: white;
}

.wrapper article.contacts .contact .media--icons--wrapper .media-icon:hover .title.codepen,
.wrapper article.contacts .media .media--icons--wrapper .media-icon:hover .title.codepen {
  color: cornsilk;
}

.wrapper article.contacts .contact .media--icons--wrapper .media-icon .icon,
.wrapper article.contacts .media .media--icons--wrapper .media-icon .icon {
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #BC986A;
  float: left;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  color: black;
  position: relative;
  z-index: 5;
}

.wrapper article.contacts .contact .media--icons--wrapper .media-icon .title,
.wrapper article.contacts .media .media--icons--wrapper .media-icon .title {
  overflow: hidden;
  width: 0px;
  position: relative;
  left: -40px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
/*# sourceMappingURL=main.css.map */